<% include partials/header%>

<h1><%=blog.title%></h1>
<p>
	<img src="<%=blog.image.substring(6)%>">
</p>
<p><%=new Date(Number(blog.image.substring(24,37))).toLocaleString()%></p>
<p><a href="/blogs/<%=blog._id%>/edit">Edit</a></p>
<form action="/blogs/<%=blog._id%>/delete?_method=DELETE" method="POST">
	<button>Delete</button>
</form>
<!-- <p><a href="/blogs/<%=blog._id%>/delete?_method=DELETE">Delete</a></p> -->
<% include partials/footer%> 